:root {
    background-color: ghostwhite;
    font-size: 70%;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: black;
}

h1 {
    font-size: 5.4rem;
    color: black;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    color: black;
    margin-bottom: 5rem;
    font-weight: 700;
}
h3 {
    font-size: 2.4rem;
    color: black;
    margin-bottom: 5rem;
    font-weight: 700;
}


.container {
    width: 100vw;
    height: 40vw;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 7px;
}

.choice-container {
    max-width: 25rem;
}

.container > * {
    width: 100%;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* buttons */

.button {
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    width: 20rem;
    text-align: center;
    margin-bottom: 1rem;
    background-color: indigo;
    border-radius: 7px;
    color: white;
    margin-left: 1rem;
}

.button:hover {
    cursor: pointer;
    background-color: magenta;
}

.button[disable]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* FORMS */
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  }
  
  input::placeholder {
    color: #aaa;
  }